body{
    background: #000000;
}

#container {
    max-width: 1400xp;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

#my-canvas {
    background: #000000;
    border: 1px solid #ffffff;
    margin: auto;
}

@font-face { 
    font-family: "Aadhunik"; 
    src: url("./fonts/Aadhunik.ttf");
    format: "truetype";
 }